@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    background-color: #04151F;
    color: #EFD6AC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    width: 60%;
    padding: 10px;
    margin: auto;
}
h2 {
    color: #C44900;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    margin-top: 100px;
}
h3 {
    color: #183A37;
/* https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
    text-shadow: 1px 0 #EFD6AC, -1px 0 #EFD6AC, 0 1px #EFD6AC, 0 -1px #EFD6AC,
        1px 1px #EFD6AC, -1px -1px #EFD6AC, 1px -1px #EFD6AC, -1px 1px #EFD6AC;
    font-size: 30px;
}
.button {
    color: #183A37;
    padding: 10px;
    font: 18px;
    text-decoration: none;
    background-color: #EFD6AC;
    border-radius: 12px;
    margin: 10px;
}
.menu {
    width: 100%;
    margin: 5px 20px 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}
#foto {
    border-radius: 50%;
    width: 100px;
    margin-left: 35%;
    margin-bottom: 10px;
}
.sobre {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    line-height: 30px;
    border: 1px dotted #EFD6AC;
    border-radius: 20px;
}
.lista {
    text-align: left;
    margin: 20px 30%;
    line-height: 40px;
}
.text-highlight{
    color: #C44900;
}
.info-wrapper {
    display: flex;
    flex-direction: row;
}
.foto {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}